@inject JobTrackerRepository Jobs
@implements IDisposable

@if (JobInfo != null)
{
    <h3>Background Job: @JobInfo.RequestType, Id = @JobInfo.Id</h3>    
    <div class="d-flex align-items-center">
        <div class="mr-3">
            @if (JobInfo.IsRunning)
            {            
                <span><img src="/img/loading.gif"/></span>            
            }
            else if (JobInfo.Status == Status.Succeeded)
            {
                <span class="oi oi-check" style="color:green"></span>
            }
            else if (JobInfo.Status == Status.Failed)
            {
                <span class="oi oi-warning" style="color:red"></span>
            }
        </div>

        <div class="mr-3">
            <span>Status: @JobInfo.Status.ToString()</span>            
        </div>

        @if (JobInfo.Started.HasValue)
        {
            <div class="mr-3">
                <span>Started: @JobInfo.Started</span>
            </div>
        }
               
        @if (JobInfo.Completed.HasValue)
        {
            <div class="mr-3">
                <span>Completed: @JobInfo.Completed</span>
                <span class="ml-2">Duration: @JobInfo.Duration sec</span>
            </div>
        }

        <div>
            <button class="btn btn-sm btn-light" @onclick="ClearNotification">clear</button>
        </div>
    </div>
    
    <div>
        @if (JobInfo.IsJobType<ZipRequest, ZipResult>(out ZipRequest request, out ZipResult result))
        {
            <ZipJob Request="request" Result="result"/>
        }
    </div>    
}

<hr/>

@code { 
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Jobs.Updated += JobUpdated;
    }

    [Parameter]
    public JobTracker JobInfo { get; set; }

    [Parameter]
    public EventCallback Cleared { get; set; }

    async Task ClearNotification()
    {
        await Jobs.ClearNotificationAsync(JobInfo.Id);
        await Cleared.InvokeAsync();
    }

    void JobUpdated(JobTracker job)
    {
        if (job.Id == JobInfo.Id)
        {
            JobInfo = job;
            InvokeAsync(StateHasChanged);            
        }
    }

    public void Dispose() => Jobs.Updated -= JobUpdated;
}
